################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/adcsexitplus_i.c
/adcsexitplus.h
/adcsexitplus.aps
